@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.fi-sidebar-nav {
    @apply bg-white border-r border-gray-200 dark:bg-gray-900 dark:border-gray-800;
}